<div class="container mt-3">
  <div class="d-flex justify-content-center">
    <div>
      <button type="button" class="btn btn-lg mr-2" (click)="showLogin()">Најава</button>
    </div>
    <div>
      <button type="button" class="btn btn-lg" (click)="showRegistration()">Регистрација</button>
    </div>
  </div>
</div>

<form *ngIf="showingLogin" class="mt-3 d-flex justify-content-center flex-column" [formGroup]="signInFormGroup"
      (ngSubmit)="login()">

  <div class="form-group align-self-center col-xs-3 col-sm-6 col-md-6 mt-3">
    <label>E-Mail:</label>
    <input id="email" type="text" class="form-control" formControlName="email" placeholder="E-Mail">

    <div *ngIf="signInFormGroup.controls['email'].errors && !signInFormGroup.controls['email'].pristine"
         class="mt-2 error-msg">
      <ngb-alert [dismissible]="false" type="danger" [hidden]="!signInFormGroup.controls['email'].errors.required">
        <strong>Задолжително поле</strong>
      </ngb-alert>
      <ngb-alert [dismissible]="false" type="danger" [hidden]="!signInFormGroup.controls['email'].errors.email">
        <strong>Невалидна E-Mail адреса</strong>
      </ngb-alert>
    </div>

  </div>
  <div class="form-group align-self-center col-xs-3 col-sm-6 col-md-6 mt-3">
    <label>Лозинка:</label>
    <input id="password" type="password" class="form-control" formControlName="password" placeholder="Лозинка">

    <div *ngIf="signInFormGroup.controls['password'].errors && !signInFormGroup.controls['password'].pristine"
         class="mt-2 error-msg">
      <ngb-alert [dismissible]="false" type='danger' [hidden]="!signInFormGroup.controls['password'].errors.required">
        <strong>Задолжително поле</strong>
      </ngb-alert>
    </div>

  </div>
  <button [disabled]="signInFormGroup.invalid" type="submit"
          class="w-50 align-self-center col-xs-2 col-sm-4 col-md-4 mt-3 btn btn-lg accept">
    Најава
  </button>
</form>

<form class="mt-3 d-flex justify-content-center flex-column" *ngIf="!showingLogin" [formGroup]="registerFormGroup"
      (ngSubmit)="register()">
  <div class="form-group align-self-center col-xs-3 col-sm-6 col-md-6 mt-3">
    <label>E-Mail:</label>
    <input id="email_reg" type="text" class="form-control" formControlName="email" placeholder="E-Mail">

    <div *ngIf="registerFormGroup.controls['email'].errors && !registerFormGroup.controls['email'].pristine"
         class="mt-2 error-msg">
      <ngb-alert [dismissible]="false" type='danger' [hidden]="!registerFormGroup.controls['email'].errors.required">
        <strong>Задолжително поле</strong>
      </ngb-alert>
      <ngb-alert [dismissible]="false" type='danger' [hidden]="!registerFormGroup.controls['email'].errors.email">
        <strong>Невалидна E-Mail адреса</strong>
      </ngb-alert>
    </div>

  </div>
  <div class="form-group align-self-center col-xs-3 col-sm-6 col-md-6 mt-3">
    <label>Лозинка:</label>
    <input id="password_reg" type="password" class="form-control" formControlName="password" placeholder="Лозинка">

    <div *ngIf="registerFormGroup.controls['password'].errors && !registerFormGroup.controls['password'].pristine"
         class="mt-2 error-msg">
      <ngb-alert [dismissible]="false" type='danger'
                 [hidden]="!registerFormGroup.controls['password'].errors.required">
        <strong>Задолжително поле</strong>
      </ngb-alert>
    </div>

  </div>
  <div class="form-group align-self-center col-xs-3 col-sm-6 col-md-6 mt-3">
    <label>Име:</label>
    <input id="name_reg" type="text" class="form-control" formControlName="accName" placeholder="Име">

    <div *ngIf="registerFormGroup.controls['accName'].errors && !registerFormGroup.controls['accName'].pristine"
         class="mt-2 error-msg">
      <ngb-alert [dismissible]="false" type='danger' [hidden]="!registerFormGroup.controls['accName'].errors.required">
        <strong>Задолжително поле</strong>
      </ngb-alert>
    </div>

  </div>
  <div class="form-group align-self-center col-xs-3 col-sm-6 col-md-6 mt-3">
    <label>Презиме:</label>
    <input id="surname_reg" type="text" class="form-control" formControlName="accSurname" placeholder="Презиме">

    <div *ngIf="registerFormGroup.controls['accSurname'].errors && !registerFormGroup.controls['accSurname'].pristine"
         class="mt-2 error-msg">
      <ngb-alert [dismissible]="false" type='danger'
                 [hidden]="!registerFormGroup.controls['accSurname'].errors.required">
        <strong>Задолжително поле</strong>
      </ngb-alert>
    </div>

  </div>
  <div class="form-group align-self-center col-xs-3 col-sm-6 col-md-6 mt-3">
    <label>Возраст:</label>
    <input id="age_reg" type="number" class="form-control" formControlName="age" placeholder="Возраст">

    <div *ngIf="registerFormGroup.controls['age'].errors && !registerFormGroup.controls['age'].pristine"
         class="mt-2 error-msg">
      <ngb-alert [dismissible]="false" type='danger' [hidden]="!registerFormGroup.controls['age'].errors.required">
        <strong>Задолжително поле</strong>
      </ngb-alert>
    </div>

  </div>

  <form class="mt-3 d-flex justify-content-center flex-column" [formGroup]="bankAccountFormGroup">
    <div class="form-group align-self-center col-xs-3 col-sm-6 col-md-6 mt-3">
      <label>Број на банкарска сметка:</label>
      <input id="bankAccountNumber_reg" type="number" class="form-control" formControlName="bankAccountNumber"
             placeholder="Број на банкарска сметка">
    </div>
    <button *ngIf="bankAccountFormGroup.value.bankAccountNumber > 0"
            class="w-50 align-self-center col-xs-2 col-sm-4 col-md-4 mt-3 btn btn-sm btn-info"
            (click)="addBankAccount()">
      Додај банкарска сметка
    </button>
    <div class="list-group align-self-center col-xs-3 col-sm-6 col-md-6 mt-3 mt-3">
      <div class="list-group-item d-flex flex-column align-items-center justify-content-center"
           *ngFor="let bankAccount of bankAccountSet">
        <div>{{bankAccount.accountNumber}}</div>
        <button class="align-self-center col-xs-2 col-sm-4 col-md-4 mt-3 btn btn-sm btn-danger"
                (click)="deleteBankAccount(bankAccount)">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
      </div>
    </div>

  </form>


  <div class="form-group align-self-center col-xs-3 col-sm-6 col-md-6 mt-3">
    <label>Линк од слика:</label>
    <input id="avatarUrl_reg" type="text" class="form-control" formControlName="avatarUrl" placeholder="Линк од слика">
  </div>
  <div class="form-group align-self-center col-xs-3 col-sm-6 col-md-6 mt-3">
    <label>Датум на раѓање:</label>
    <div class="input-group">
      <input class="form-control" placeholder="Датум на раѓање (YYYY-MM-DD)"
             id="birthday" formControlName="birthday" name="dp" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
          <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg"
               style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
        </button>
      </div>
    </div>
  </div>
  <div class="form-group align-self-center col-xs-3 col-sm-6 col-md-6 mt-3">
    <label>Телефонски број:</label>
    <input id="phoneNumber_reg" type="text" class="form-control" formControlName="phoneNumber"
           placeholder="Телефонски број">
  </div>
  <button [disabled]="registerFormGroup.invalid" type="submit"
          class="w-50 align-self-center col-xs-2 col-sm-4 col-md-4 mt-3 btn btn-lg accept">
    Регистрирај се
  </button>

</form>
