<div id="footer">
  <div class="container">
    <div class="text-center">
      <hr class="footer-hr">
      <div class="row">
        <div class="col-sm-4">
          <p class="copyrights">© Copyright: Doniraj.mk 2017-2018</p>
        </div>
        <div class="col-sm-4">
          <a class="footer-links" routerLink="home">Дома</a>
          <a class="footer-links" routerLink="about-us">За нас</a>
          <a class="footer-links" routerLink="contact">Контакт</a>
        </div>
        <div class="col-sm-4 text-center">
          <a href="https://www.facebook.com/"><i class="fa fa-facebook-square fa-2x fa_icon-footer"
                                                 aria-hidden="true"></i></a>
          <a href="https://twitter.com/"><i class="fa fa-twitter-square fa-2x fa_icon-footer"
                                            aria-hidden="true"></i></a>
          <a href="https://plus.google.com/"><i
            class="fa fa-google-plus-square fa-2x fa_icon-footer"
            aria-hidden="true"></i></a>
          <a href="https://instagram.com/"><i class="fa fa-instagram fa-2x fa_icon-footer"
                                              aria-hidden="true"></i></a>
        </div>

      </div>
      <br>
    </div>

  </div>
</div>
<!--
<footer class="">

  &lt;!&ndash;Footer Links&ndash;&gt;
  <div class="container-fluid">
    <div class="row">
      &lt;!&ndash;First column&ndash;&gt;
      <div class="col-md-6">
        <h5 class="title">Footer Content</h5>
      </div>
      &lt;!&ndash;/.First column&ndash;&gt;
      &lt;!&ndash;Second column&ndash;&gt;
      <div class="col-md-4">
        <h5 class="title">Links</h5>
        <ul>
          <li><a routerLink="home">Home</a></li>
          <li><a routerLink="about-us">About us</a></li>
          <li><a routerLink="contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <a href="http://facebook.com"><img
          src="http://freevector.co/wp-content/uploads/2014/09/33702-facebook-logo-200x200.png"></a>
        <a href="http://twitter.com"><img
          src="https://static1.squarespace.com/static/5835d214d2b857b88edefd29/584b35939de4bbe305c17acf/584b3594b3db2bac502f0402/1481324921519/twitter-square-logo.png"></a>
        <a href="http://instagram.com"><img
          src="http://gregorymasouras.com/wp-content/uploads/2016/08/glyph-logo_May2016_200.png"></a>
      </div>
      &lt;!&ndash;/.Second column&ndash;&gt;
    </div>
  </div>
  &lt;!&ndash;/.Footer Links&ndash;&gt;

  &lt;!&ndash;Copyright&ndash;&gt;
  <div class="footer-copyright">
    <div class="container-fluid">

    </div>
  </div>
  &lt;!&ndash;/.Copyright&ndash;&gt;-->

<!--</footer>-->
