/* Three columns side by side */
.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* Display the columns below each other instead of side by side on small screens */
@media (max-width: 850px) {
  .column {
    width: 100%;
    display: block;
  }
}

h4 {
  font-size: 1.5vw;
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
  overflow: hidden;
  margin-top: 2%;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #843534;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

img {
  height: 20vw;
  object-fit: cover;
  width: 100%;
}
