<div class="container">
  <h4 class="text-center">Тимот на Донирај.мк</h4>
  <br>
  <div class="row card-group">
    <div class="column">
      <div class="card">
        <img
          src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/19225223_1678377202181902_5931801851935308557_n.jpg?oh=f3817cad1ea043c4b3cb20cd4d1b13c0&oe=5ADEDA2D"
          alt="Елена" style="width:100%">
        <div class="container">
          <h4>Елена Вандевска</h4>
          <p class="title">Дизајнер</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>
            <button class="button"><a href="mailto:elena.vandevska@gmail.com">Контакт</a></button>
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img
          src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/11988541_1630125537276815_8412328373874546745_n.jpg?oh=8cd7531a9b26be34598dbd6239d3e3bc&oe=5AE712EA"
          alt="Андреј" style="width:100%">
        <div class="container">
          <h4>Андреј Димитриоски</h4>
          <p class="title">Техничка поддршка</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>
            <button class="button"><a href="mailto:andrej.dimitrioski@gmail.com">Контакт</a></button>
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img
          src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/19990481_1596934410317101_1588132545856980435_n.jpg?oh=16a39922e52218aabb0df0fa33335344&oe=5B19D1F6"
          alt="Стефан" style="width:100%">
        <div class="container">
          <h4>Стефан Петрушевски</h4>
          <p class="title">Администратор</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>
            <button class="button"><a href="mailto:stefan.petrushevski.coka@gmail.com">Контакт</a></button>
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img
          src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/21271066_1576279432436066_8235081477736131086_n.jpg?oh=8d172c7af810d026d689dc1dcdbc4b26&oe=5B1E4624"
          alt="Бојан" style="width:100%">
        <div class="container">
          <h4>Бојан Евкоски</h4>
          <p class="title">Сениор</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>
            <button class="button"><a href="mailto:bojanevkoski@outlook.com">Контакт</a></button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
