<form [formGroup]="newStoryFormGroup" class="mt-3 d-flex justify-content-center flex-column">
  <div class="form-group align-self-center col-xs-3 col-sm-6 col-md-6 mt-3">
    <label>Наслов:</label>
    <input id="title" type="text"
           class="form-control form-control-lg"
           formControlName="title"
           placeholder="Наслов">

    <div *ngIf="newStoryFormGroup.controls['title'].errors && !newStoryFormGroup.controls['title'].pristine"
         class="mt-2 error-msg">
      <ngb-alert [dismissible]="false" type="danger" [hidden]="!newStoryFormGroup.controls['title'].errors.required">
        <strong>Задолжително поле</strong>
      </ngb-alert>
    </div>

  </div>


  <div class="form-group align-self-center col-xs-2 col-sm-5 col-md-5 mt-3">
    <label>Линк од слика:</label>
    <input id="imageUrl" [(ngModel)]="imageUrl" type="text" class="form-control"
           formControlName="imageUrl"
           placeholder="Линк од слика">

    <div *ngIf="newStoryFormGroup.controls['imageUrl'].errors && !newStoryFormGroup.controls['imageUrl'].pristine"
         class="mt-2 error-msg">
      <ngb-alert [dismissible]="false" type="danger" [hidden]="!newStoryFormGroup.controls['imageUrl'].errors.required">
        <strong>Задолжително поле</strong>
      </ngb-alert>
    </div>

    <div *ngIf="imageUrl" class="mt-2">
      <img class="img-thumbnail img-fluid" src="{{imageUrl}}">
    </div>
  </div>

  <div
    class="d-flex flex-wrap flex-sm-column flex-md-row align-items-center justify-content-center mt-3">

    <div class="form-group col-xs-2 col-sm-5 col-md-5">
      <label>Средства:</label>
      <input id="funds" type="text" class="form-control" formControlName="funds"
             placeholder="Средства">

      <div *ngIf="newStoryFormGroup.controls['funds'].errors && !newStoryFormGroup.controls['funds'].pristine"
           class="mt-2 error-msg">
        <ngb-alert [dismissible]="false" type="danger" [hidden]="!newStoryFormGroup.controls['funds'].errors.required">
          <strong>Задолжително поле</strong>
        </ngb-alert>
      </div>

    </div>
    <div class="form-group col-xs-2 col-sm-5 col-md-5">
      <label>Краен рок:</label>
      <div class="input-group">
        <input class="form-control" placeholder="Краен рок (YYYY-MM-DD)"
               id="deadline" formControlName="deadline" name="dp" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
            <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg"
                 style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>
        </div>
      </div>
    </div>

  </div>


  <div class="form-group align-self-center col-xs-3 col-sm-10 col-md-10 mt-3">
    <label>Опис:</label>
    <textarea maxlength="1000" class="form-control"
              formControlName="storyDescription"
              placeholder="Внесете ја вашата приказна овде..." style="min-height: 15em"></textarea>
  </div>

  <button [disabled]="newStoryFormGroup.invalid" type="button" id="create-btn"
          class="w-50 align-self-center col-xs-1 col-md-3 mt-3 btn btn-sm btn-success "
          (click)="openModal(modalSubmitStory)">Поднеси
  </button>

</form>

<ng-template #modalSubmitStory let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Предупредување</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Дали сте сигурни дека сакате да ја поднесете сторијата ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c(submitStory())">Да</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Не</button>
  </div>
</ng-template>
