<div class="container">
  <h4 class="text-center">Контактирајте нè:</h4>
  <form [formGroup]="contactFormGroup">
    <div class="controls">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="form_name">Име:</label>
            <input id="form_name" type="text" name="name" class="form-control"
                   formControlName="name"
                   placeholder="Внесете го вашето име тука">
            <div class="help-block with-errors"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="form_email">Електронска пошта (email):</label>
            <input id="form_email" type="email" name="email" class="form-control"
                   formControlName="email"
                   placeholder="Внесете ја вашата електронска пошта тука">
            <div class="help-block with-errors"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="form_phone">Телефон:</label>
            <input id="form_phone" type="tel" name="phone" class="form-control"
                   formControlName="phone"
                   placeholder="Внесете го вашиот телефонски број тука (опционално)">
            <div class="help-block with-errors"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="form_message">Порака:</label>
            <textarea id="form_message" name="message" class="form-control"
                      formControlName="message"
                      placeholder="Внесете ја вашата порака тука" rows="4"></textarea>
            <div class="help-block with-errors"></div>
          </div>
        </div>
        <div class="col-md-12">
          <input type="submit" class="btn btn-success btn-send float-right" value="Испрати"
                 (click)="sendContact()">
        </div>
      </div>
    </div>
  </form>
</div>
