<div class="container">

  <div class="card mt-3">
    <div class="card-body d-flex align-items-center justify-content-around">
      <div class="d-flex flex-column align-items-center">
        <img class="w-20 h-20 img-fluid img-thumbnail" src="{{user.avatarUrl}}">
        <button type="button" class="mt-3 btn btn-sm btn-info" (click)="openModal(modalMyAvatar)">Промени аватар
        </button>
      </div>
      <h4>{{user.accName}} {{user.accSurname}}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-7">

      <form class="d-flex flex-column align-content-center" [formGroup]="myProfileFormGroup">
        <div class="form-group mt-2">
          <label>Име:</label>
          <input id="name" type="text" class="form-control" formControlName="name" placeholder="Име">

          <div *ngIf="myProfileFormGroup.controls['name'].errors && !myProfileFormGroup.controls['name'].pristine"
               class="mt-2 error-msg">
            <ngb-alert [dismissible]="false" type='danger'
                       [hidden]="!myProfileFormGroup.controls['name'].errors.required">
              <strong>Задолжително поле</strong>
            </ngb-alert>
          </div>

        </div>
        <div class="form-group mt-2">
          <label>Презиме:</label>
          <input id="surname" type="text" class="form-control" formControlName="surname" placeholder="Презиме">

          <div *ngIf="myProfileFormGroup.controls['surname'].errors && !myProfileFormGroup.controls['surname'].pristine"
               class="mt-2 error-msg">
            <ngb-alert [dismissible]="false" type='danger'
                       [hidden]="!myProfileFormGroup.controls['surname'].errors.required">
              <strong>Задолжително поле</strong>
            </ngb-alert>
          </div>

        </div>
        <div class="form-group mt-2">
          <label>Телефонски број:</label>
          <input id="phone" type="text" class="form-control" formControlName="phone" placeholder="Телефонски број">
        </div>

        <button [disabled]="myProfileFormGroup.invalid" type="button"
                class=" align-self-center btn btn-sm btn-success mt-2"
                (click)="openModal(modalEditProfile)">
          Промени профил
        </button>

        <form class="mt-3 d-flex flex-column align-content-center" [formGroup]="myBankAccountsFormGroup">
          <div class="form-group">
            <label>Број на банкарска сметка:</label>
            <input id="bankAccountNumber" type="number" class="form-control" formControlName="bankAccountNumber"
                   placeholder="Број на банкарска сметка">
          </div>

          <button class=" align-self-center btn btn-sm btn-info"
                  *ngIf="myBankAccountsFormGroup.controls.bankAccountNumber.value > 0"
                  (click)="openModal(modalAddBankAccount)">
            Додај банкарска сметка
          </button>

          <div class="mt-2 list-group">
            <div class="list-group-item d-flex flex-column align-items-center justify-content-center"
                 *ngFor="let bankAccount of bankAccountSet">
              <div>{{bankAccount.accountNumber}}</div>
              <button class="align-self-center col-xs-2 col-sm-4 col-md-4 mt-3 btn btn-sm btn-danger"
                      (click)="openModal(modalDeleteBankAccount, bankAccount)">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
            </div>
          </div>

        </form>

      </form>

    </div>

    <div class="col-sm-5">

      <div class="list-group" *ngFor="let story of stories">
        <div class="list-group-item mt-3 d-flex flex-column align-items-center justify-content-between">
          <div class="order-3 btn-group-sm d-flex flex-sm-column flex-md-row">
            <button type="button" class="m-2 btn btn-sm btn-info" routerLink="../story/{{story.id}}">Промени</button>
          </div>
          <div class="order-2">{{story.title}}</div>
          <img class="order-1 img-thumbnail" *ngIf="story.imageUrl" src="{{story.imageUrl}}">
        </div>
      </div>

    </div>
  </div>

</div>


<ng-template #modalEditProfile let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Предупредување</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Дали сте сигурни дека сакате да ги зачувате промените ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c(editProfile())">Да</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Не</button>
  </div>
</ng-template>

<ng-template #modalAddBankAccount let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Предупредување</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Дали сте сигурни дека сакате да ја додадете банкарската сметка ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c(addBankAccount())">Да</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Не</button>
  </div>
</ng-template>

<ng-template #modalDeleteBankAccount let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Предупредување</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Дали сте сигурни дека сакате да ја избришете банкарската сметка ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c(deleteBankAccount(bankAccountForDeletion))">Да
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Не</button>
  </div>
</ng-template>

<ng-template #modalMyAvatar let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Промени аватар</h4>
    <button type="button" class="close" aria-label="Close" (click)="d(revertAvatar())">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="myAvatarFromGroup">
      <div class="form-group">
        <label>Линк од аватар:</label>
        <input id="avatarUrl" type="text" class="form-control" formControlName="avatarUrl" placeholder="Линк од аватар">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c(updateAvatar())">Промени
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="c(revertAvatar())">Откажи</button>
  </div>
</ng-template>
