
#logo {
  border-radius: 30%;
  max-height: 2em;
  cursor: pointer;
}

#main_navbar {
  z-index: 1;
  position: sticky;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background-color: white !important;
}

#logo-title-link {
  color: #843534;
  text-decoration: none;
}

#user-dropdown {
  text-align: center;
}

#avatar {
  max-height: 2.5em;
}

#avatar:hover {
  border: solid #843534;
  cursor: pointer;
}


.btn-group {
  height: 100%;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item:active {
  background-color: #843534 !important;
}

.dropdown-menu {
  right: 0;
  left: auto;
}

.card-footer {
  padding-top: 0.30rem;
  padding-bottom: 0.30em;
}

.btn {
  color: white;
  background-color: #843534;
}

@media (max-width: 800px) {
  #main_navbar {
    font-size: 10px;
  }

  .navbar-brand {
    font-size: 14px;
  }
}

