<nav id="main_navbar"
     class="navbar navbar-light bg-light justify-content-between flex-nowrap flex-row">
  <div class="container">
    <a href="home" class="navbar-brand float-left"><img id="logo"
                                                        src="https://www.onlinelogomaker.com/blog/wp-content/uploads/2017/06/floral-logo.jpg">
      DONIRAJ.MK</a>
    <div class="nav-item dropdown hidden-md-down float-right" id="navbarDropdown" *ngIf="user">
        <span class="nav-link" href="#" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
          <span>Добредојде, {{user.accName}} </span>
          <img class="rounded-circle" id="avatar" src="{{user.avatarUrl}}">
        </span>
      <div id="user-dropdown" class="dropdown-menu dropdown-menu-right"
           aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="my-profile">Мој профил</a>
        <a class="dropdown-item" *ngIf="isLoggedUserAdmin()" routerLink="admin-panel">Админ
          панел</a>
        <!--TODO: kursorot za logout da e hand-->
        <a class="dropdown-item" (click)="logout()">Одјави се</a>
      </div>
    </div>
    <div class="nav-item float-right" *ngIf="!user">
      <div>
        <a class="btn btn-sm right" [routerLink]="['sign-in']"
           routerLinkActive="true">Логирај се
        </a>
      </div>
    </div>
  </div>
</nav>
<router-outlet *ngIf="loadAppComponent"></router-outlet>
<app-footer></app-footer>

