<div class="container">

  <div class="input-group mb-3 mt-3 col-6">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Опции</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01" (change)="getStories($event.target.value)">
      <option [value]="APPROVED" [selected]="true">Прифатени</option>
      <option [value]="PENDING">Во тек</option>
    </select>
  </div>

  <div class="list-group" *ngFor="let story of stories">
    <div class="list-group-item mt-3 d-flex flex-sm-column flex-md-row align-items-center justify-content-between">
      <div class="order-3 btn-group-sm d-flex flex-sm-column flex-md-row">
        <button type="button" class="m-2 btn btn-sm btn-info" routerLink="../story/{{story.id}}">Промени</button>
        <button type="button" class="m-2 btn btn-sm btn-danger" (click)="openModal(modalContent, story.id)">Избриши
        </button>
      </div>
      <div class="order-2">{{story.title}}</div>
      <img class="order-1 img-thumbnail" *ngIf="story.imageUrl" src="{{story.imageUrl}}">
    </div>
  </div>
</div>

<ng-template #modalContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Предупредување</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Дали сте сигурни дека сакате да ја избришете сторијата ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c(deleteStory(storyIdForDeletion))">Да</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Не</button>
  </div>
</ng-template>
