<div class="container">
  <div class="row">
    <div class="col-sm-9 card">
      <img class="card-img-top" src="{{story.imageUrl}}">
      <div class="col-sm-12" id="storyContent">
        <h5 id="storyTitle">{{story.title}}
          <i id="share" class="fa fa-share-alt float-right" aria-hidden="true"></i>
        </h5>
        <div [innerHTML]="story.story"></div>
        <div class="row" id="info">
          <span
            class="col-sm-3 text-center">Објавено на: {{story.dateCreated | date:'dd.MM.yyyy'}}</span>
          <div class="col-sm-6 text-center"
               id="funds">
            <h6> Потребни средства: {{story.funds}} ден.</h6>
            <h6>Краен рок: {{story.deadline}}</h6>
          </div>
          <span class="col-sm-3 text-center" id="counts">Прегледи: {{story.count}}</span>
        </div>
        <div class="col-sm-12 text-center" id="buttons">
          <button class="btn btn-sm" *ngIf="isStoryUserLoggedIn() || isLoggedUserAdmin()"
                  routerLink="../../edit-story/{{story.id}}">
            <i class="fa fa-pencil" aria-hidden="true"></i> Промени
          </button>
          <button class="btn btn-sm" type="submit" (click)="openModal(modalApproveStory)"
                  *ngIf="isLoggedUserAdmin() && story.pending">
            <i class="fa fa-check" aria-hidden="true"></i> Прифати
          </button>
          <button class="btn btn-sm" *ngIf="isLoggedUserAdmin()"
                  (click)="openModal(modalDeleteStory)">
            <i class="fa fa-trash-o" aria-hidden="true"></i> Избриши
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-3 card text-center" id="publisher">
      <span>Објавил:</span>
      <img class="rounded-circle" id="publisherAvatar" src="{{story.user.avatarUrl}}">
      <br>
      <h5>{{story.user.accName}} {{story.user.accSurname}}</h5>
      <br>
      <div class="text-left" *ngIf="story.user.bankAccountSet.length > 0">
        <span>Трансакциски сметки:</span>
        <div *ngFor="let ba of story.user.bankAccountSet">
          {{ba.accountNumber}}
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalApproveStory let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Предупредување</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Дали сте сигурни дека сакате да ја одобрете сторијата ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c(approveStory())">Да</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Не</button>
  </div>
</ng-template>

<ng-template #modalDeleteStory let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Предупредување</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Дали сте сигурни дека сакате да ја избришете сторијата ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c(deleteStory())">Да</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Не</button>
  </div>
</ng-template>
