.container {
  margin-top: 1%;
}

.card {
  padding: 0;
}

#storyContent {
  flex: inherit !important;
}

.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

#storyTitle {
  color: #431f1f;
  margin: 3%;
  border-bottom: dotted silver thin;

}

#info {
  margin: 3%;
  overflow-wrap: normal !important;
}

#funds {
  color: #843534;
  text-decoration: underline;
}

button {
  margin-bottom: 3%;
  color: white;
  background-color: #843534;
}

button:hover {
  color: #431f1f;
  background-color: white;
  border: solid #431f1f thin;
}

.fa {
  color: white;
}

#share {
  color: #431f1f;
}

#share:hover {
  color: #843534;
  cursor: pointer;

}

#publisher {
  padding: 3%;
  padding-top: 5%;
}

#publisherAvatar {
  width: 8vw;
  height: 8vw;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border: solid #431f1f thin;
}

@media (max-width: 575px) {
  #storyTitle {
    font-size: 15px;
  }

  .card-img-top {
    height: 70vw;
  }
}
