<div class="container">

  <div class="card mt-3">
    <div class="card-body d-flex align-items-center justify-content-around">
      <div class="d-flex flex-column align-items-center">
        <img class="w-20 h-20 img-fluid img-thumbnail" src="{{user.avatarUrl}}">
      </div>
      <h4>{{user.accName}} {{user.accSurname}}</h4>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-5">
      <form class="d-flex flex-column align-content-center" [formGroup]="profileFormGroup">
        <div class="form-group mt-2">
          <label>UserID</label>
          <input disabled id="id" type="text" class="form-control" formControlName="id" placeholder="id">
        </div>
        <div class="form-group mt-2">
          <label>E-Mail:</label>
          <input id="email" type="text" class="form-control" formControlName="email" placeholder="email">

          <div *ngIf="profileFormGroup.controls['email'].errors && !profileFormGroup.controls['email'].pristine"
               class="mt-2 error-msg">
            <ngb-alert [dismissible]="false" type='danger'
                       [hidden]="!profileFormGroup.controls['email'].errors.required">
              <strong>Задолжително поле</strong>
            </ngb-alert>
            <ngb-alert [dismissible]="false" type='danger' [hidden]="!profileFormGroup.controls['email'].errors.email">
              <strong>Невалидна E-Mail адреса</strong>
            </ngb-alert>
          </div>

        </div>
        <div class="form-group mt-2">
          <label>Име:</label>
          <input id="name" type="text" class="form-control" formControlName="name" placeholder="name">

          <div *ngIf="profileFormGroup.controls['name'].errors && !profileFormGroup.controls['name'].pristine"
               class="mt-2 error-msg">
            <ngb-alert [dismissible]="false" type='danger'
                       [hidden]="!profileFormGroup.controls['name'].errors.required">
              <strong>Задолжително поле</strong>
            </ngb-alert>
          </div>

        </div>
        <div class="form-group mt-2">
          <label>Презиме:</label>
          <input id="surname" type="text" class="form-control" formControlName="surname" placeholder="surname">

          <div *ngIf="profileFormGroup.controls['surname'].errors && !profileFormGroup.controls['surname'].pristine"
               class="mt-2 error-msg">
            <ngb-alert [dismissible]="false" type='danger'
                       [hidden]="!profileFormGroup.controls['surname'].errors.required">
              <strong>Задолжително поле</strong>
            </ngb-alert>
          </div>

        </div>
        <div class="form-group mt-2 align-self-center custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="activated">
          <label class="custom-control-label" for="customCheck1">Активиран</label>
        </div>
        <div class="form-group mt-2">
          <label>Линк од аватар:</label>
          <input id="avatarUrl" type="text" class="form-control" formControlName="avatarUrl" placeholder="avatarUrl">
        </div>
        <div class="form-group mt-2">
          <label>Датум на раѓање:</label>
          <div class="input-group">
            <input class="form-control" placeholder="Датум на раѓање (YYYY-MM-DD)"
                   id="birthday" formControlName="birthday" name="dp" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg"
                     style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group mt-2">
          <label>Телефонски број:</label>
          <input id="phone" type="text" class="form-control" formControlName="phone" placeholder="phone">
        </div>
        <div class="form-group mt-2">
          <label>Улога:</label>
          <select class="form-control" formControlName="role">
            <option [value]="ROLE_USER" [selected]="user.role == ROLE_USER">Корисник</option>
            <option [value]="ROLE_ADMIN" [selected]="user.role == ROLE_ADMIN">Администратор</option>
          </select>
        </div>

        <div class="mt-2 list-group">
          <div class="list-group-item d-flex flex-column align-items-center justify-content-center"
               *ngFor="let bankAccount of bankAccountSet">
            <div>{{bankAccount.accountNumber}}</div>
            <button class="align-self-center col-xs-2 col-sm-4 col-md-4 mt-3 btn btn-sm btn-danger"
                    (click)="openModal(modalDeleteBankAccount, undefined, bankAccount)">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
          </div>
        </div>

        <button [disabled]="profileFormGroup.invalid" type="button" class="mt-4 btn btn-sm btn-success"
                (click)="openModal(modalEditProfile)">
          Промени профил
        </button>
        <button type="button" class="mt-2 btn btn-sm btn-danger" (click)="openModal(modalDeleteProfile)">
          Избриши профил
        </button>

      </form>

    </div>

    <div class="col-sm-7">

      <div class="list-group" *ngFor="let story of stories">
        <div class="list-group-item mt-3 d-flex flex-column align-items-center justify-content-between">
          <div class="order-3 btn-group-sm d-flex flex-sm-column flex-md-row">
            <button type="button" class="m-2 btn btn-sm btn-info" routerLink="../../story/{{story.id}}">Промени</button>
          </div>
          <div class="order-2">{{story.title}}</div>
          <img class="order-1 img-thumbnail" *ngIf="story.imageUrl" src="{{story.imageUrl}}">
        </div>
      </div>

    </div>

  </div>

</div>

<ng-template #modalDeleteBankAccount let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Предупредување</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Дали сте сигурни дека сакате да ја избришете банкарската сметка ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c(deleteBankAccount(bankAccountForDeletion))">Да
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Не</button>
  </div>
</ng-template>

<ng-template #modalDeleteStory let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Предупредување</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Дали сте сигурни дека сакате да ја избришете сторијата ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c(deleteStory(storyForDeletion))">Да</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Не</button>
  </div>
</ng-template>

<ng-template #modalDeleteProfile let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Предупредување</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Дали сте сигурни дека сакате да го избришете профилот ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c(deleteUser())">Да</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Не</button>
  </div>
</ng-template>

<ng-template #modalEditProfile let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Предупредување</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Дали сте сигурни дека сакате да ги зачувате промените ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c(editProfile())">Да</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Не</button>
  </div>
</ng-template>
