<div class="main-photo-div">
  <div class="text-over-main-photo offset-sm-4 col-sm-4">
    <h1>Приклучи се за подобро утре</h1>
    <button type="button" id="campaignButton" class="btn btn-sm offset-sm-2 col-sm-8"
            routerLink="../story-new">
      Започни кампања!
    </button>

  </div>
</div>

<div class="container" id="storyContainer">
  <div class="row card-group">
    <div class="col-sm-4" *ngFor="let story of stories" id="cardRow">
      <div class="card col-sm-12">
        <a class="story-link" routerLink="../story/{{story.id}}">
          <!--TODO: Change story.id to story.title>!-->
          <img src="{{story.imageUrl}}" class="card-img-top">
          <div class="card-img-overlay">
            <h4 class="card-title title">{{story.title}}</h4>
          </div>
        </a>
        <div id="story_description" [innerHTML]="story.story"></div>

        <div class="row" id="cardDetails" style="margin-left: 1%; margin-right: 1%;">
          <div class="col-sm-12" id="details">
            <h6>Потребни средства: {{story.funds}} мкд.</h6>
            <h6>Краен рок: {{story.deadline}}</h6>
          </div>
        </div>
        <a class="card-footer" href="../story/{{story.id}}"><i class="fa fa-plus"
                                                               aria-hidden="true"></i> Види
          повеќе</a>
      </div>
    </div>
  </div>
</div>
