.main-photo-div {
  width: 100%;
  height: 28em; /*700px*/
  position: relative;
  background-image: url("https://www.donacii.mk/wp-content/uploads/2017/12/1-1024x677.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transition: height 1s;
  transition: height 1s;
}

.main-photo-div:hover {
  height: 35em;
}

.text-over-main-photo {
  width: 100%;
  position: absolute;
  top: 30%; /*270px*/
}

.text-over-main-photo h1 {
  /*position: absolute;*/
  color: white;
  max-font-size: 300%;
  /*font-size: 300%; !*80px*!*/
  width: 100%;
  text-align: center;
}

.text-over-main-photo button {
  /*position: absolute;*/
  color: black;
  background-color: white;
  margin-top: 12%;
}

.text-over-main-photo button:hover {
  /*position: absolute;*/
  color: white;
  background-color: #843534;
  margin-top: 12%;
}

.card {
  margin-left: 1%;
  margin-right: 1%;
  padding: 0;
}

#cardRow {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
}

.card:hover {
  border: solid #843534 thin;
}

.card-group {
  margin-left: 3%;
  margin-right: 3%
}

.card-img-top {
  width: 100%;
  height: 18vw;
  object-fit: cover;
}

.story-link {
  position: relative;
}

.title {
  color: white;
  font-weight: 600;
  font-size: 1.5vw;
  text-shadow: -1px -1px 0 #444,
  1px -1px 0 #444,
  -1px 1px 0 #444,
  1px 1px 0 #444;
}

#story_description {
  height: 6.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
}

#cardDetails {
  text-align: center;
  margin: 5%;
}

#details {
  color: #843534;
}

.card-footer {
  text-decoration: none;
  color: #843534;
  background-color: white;
  font-weight: 500;
}

.card-footer:hover {
  color: white;
  background-color: #843534;
}

@media (max-width: 800px) {
  .main-photo-div h1 {
    font-size: 25px;
  }
}

@media (max-width: 575px) {
  .title {
    font-size: 20px;
  }

  .card-img-top {
    height: 50vw;
  }
}

