<div class="container mt-2">
  <div class="d-flex justify-content-center">
    <div>
      <button type="button" class="btn btn-lg mr-2" (click)="showUsers()">Корисници</button>
    </div>
    <div>
      <button type="button" class="btn btn-lg" (click)="showStories()">Стории</button>
    </div>
  </div>
</div>


<app-admin-panel-users *ngIf="showingUsers"></app-admin-panel-users>
<app-admin-panel-stories *ngIf="!showingUsers"></app-admin-panel-stories>
