<div class="container">
  <div class="list-group" *ngFor="let user of users">
    <div class="list-group-item list-group-item-action mt-3 d-flex align-items-center justify-content-between"
         routerLink="../profile/{{user.id}}">
      <div class="order-2 float-right">{{user.accName}} {{user.accSurname}}</div>
      <div class="order-3 badge badge-primary badge-pill float-right" *ngIf="user.role=='ROLE_USER'">User</div>
      <div class="order-3 badge badge-danger badge-pill float-right" *ngIf="user.role=='ROLE_ADMIN'">Admin</div>
      <img class="order-1 img-thumbnail float-left" *ngIf="!user.avatarUrl"
           src="http://www.homeworkhelp.novelguide.com/sites/default/files/pictures/default/default_user_image.jpg">
      <img class="order-1 img-thumbnail float-left" *ngIf="user.avatarUrl" src="{{user.avatarUrl}}">
    </div>
  </div>
</div>
